{
    "planes": [
        {
            "type": "primary",
            "pattern": [ "0x000000ff" ],
            "format": "DRM_FORMAT_RGBA8888"
        },
        {
            "type": "overlay",
            "index": 0,
            "x": 0,
            "y": 0,
            "width": 800,
            "height": 480,
            "pattern": [ "0x00000000" ],
            "format": "DRM_FORMAT_XRGB8888"
        }
    ]
}
