{
    "planes": [
        {
            "type": "overlay",
            "index": 1,
            "alpha": "0xFF",
            "pattern": [ "0xFF000000" ],
            "format": "DRM_FORMAT_XRGB8888"
        },
        {
            "type": "primary",
            "index": 1,
            "x": 0,
            "y": 0,
            "width": "SCREEN_WIDTH",
            "height": "SCREEN_HEIGHT",
            "pattern": [ "0xFF000000" ],
            "format": "DRM_FORMAT_ARGB8888"
        }
    ]
}
